/* src/App.css */

.App {
  display: flex;
}

.main-content {
  width: calc(100vw - 5vw);
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: absolute;
  right: 0;
}

.content {
  height: 100vh;
  margin: 120px 0 0 90px;
}
